h1 {
    color: #ECDFCC;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'bogle',sans-serif;
}

p {
    color: #697565;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    font-family: 'bogle',sans-serif;
}

